README.md
content
.env

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# backup env files
historical/*

# container config folders
bazarr/*
delugevpn/*
dozzle/*
filebrowser/*
flaresolverr/*
glances/*
homer/*
overseerr/*
plex/*
prowlarr/*
radarr/*
requestrr/*
sonarr/*
speedtest/*
tautulli/*
tdarr/*
decluttarr/*
fileflow/*
dockermods/*
temp/*